@use '@ids-assets/scss/styles.scss' with (
    $assets-base-path: '/bundles/ibexaadminuiassets/vendors/ids-assets/dist/'
);

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
